h1 {
    text-align: center;
}

#home-body {
    width: 100%;
}

#home-banner {
    background-image: url('images/home-banner.png');
    width: 100%;
}

.card {
    float: left;
    width: 45%;
    padding: 10px;
}

.card1 {
    margin-right: 10px;
}

.card-img {
    width: 100%;
    height: 100px;
}

.card > p {
    text-align: center;
}

.card-btn {
    width: 20%;
    height: 30px;
    margin: auto 50%;
    padding: 5px;
    text-align: center;
}
