{% extends "_base.html" %}

{% block content %}
    <div id="home-body">
        <div class="card">
            <img src="../static/images/locations.png" alt="Locations" class="card-img">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, iste labore adipisci explicabo, eum suscipit amet quod sed ab provident cupiditate earum expedita impedit? Voluptate voluptas qui error velit similique!</p>
            <button class="card-btn"><a href="{{ url_for('locations') }}">View More</a></button>
        </div>
        <div class="card">
            <img src="../static/images/sites.png" alt="sites" class="card-img">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti accusamus eligendi totam aut molestias facilis architecto quibusdam beatae hic veritatis illum eveniet, quas impedit eaque nam commodi dolor aspernatur at?</p>
            <button class="card-btn"><a href="{{ url_for('sites') }}">View More</a></button>
        </div>
    </div>
{% endblock %}